/* vim: fdm=marker:ts=2:sts=2:sw=2:et */

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

/* Better spacing for footnotes */

.footnotes > ol > li {
  padding: 0;
}

/* Make YouTube iframe embeds responsive */

.youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
  padding-bottom: 15px;
}

/* Betty Bolton Discography CSS */

#title h1, h2, h3 {
  text-transform: uppercase;
}

#thanks {
  column-width: 200px;
  list-style-type: none;
}

#reflist ul {
  list-style-type: none;
  text-indent: -22px;
}

table {
  border-collapse: collapse;
}

// td {
//   padding: 5px;
// }

// #abbreviations td {
//   padding: 5px;
// }

#discography div {
  padding-bottom: 3px;
}

.session h3 {
  text-transform: none;
  margin-top: 0;
}

.session-notes {
  font-style: italic;
}

.session-notes cite,
.session-notes em {
  font-style: normal;
}

.sources {
  font-weight: bold;
  font-size: 85%;
}

.session .lp {
  text-decoration: underline;
}

.session .cd {
  text-decoration: underline;
}

.session > .session-notes::before {
  content: "NOTE: ";
}

.session > .session-notes ~ .session-notes::before {
  content: '';
}

.session > .session-notes {
  padding-left: 50px;
  text-indent: -46px;
}

.session > .session-notes ~ .session-notes {
  padding-left: 50px;
  text-indent: 0;
}

.session tr td:nth-child(1) {
  white-space: nowrap;
}

.session tr td:nth-child(3) {
  font-style: italic;
  white-space: break-spaces;
}

.session tr td:nth-child(3).cf,
.session tr td:nth-child(3) span.cf {
  font-style: normal;
}

.session tr td:nth-child(4) {
  white-space: nowrap;
}

.issued {
  text-decoration: underline;
}

.label-name {
  text-transform: uppercase;
}

/* Make tables line up with surrounding content. */

#abbreviations table,
#discography table {
  padding-left: 15px;
}

.nobr {
  white-space: nowrap;
}
